{% load static %}

<section class="content-inner">
    <div class="container">
        <div class="row g-xl-4 align-items-center">
            <div class="col-xl-7 pe-xl-4 m-b10">
                <div class="section-head style-1 m-b30">
                    <h2 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">مشاوره ژنتیک حضوری و
                        آنلاین</h2>
                    <p class="small wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s"
                       style="text-align: justify;">مشاوره ژنتیک اطلاعاتی در مورد چگونگی تأثیر اختلالات ژنتیکی بر شما و
                        خانواده شما می‌دهد. متخصص مشاور ژنتیک، سابقه سلامت و موارد مشکوک ژنتیکی شخصی و خانوادگی را جمع
                        آوری می‌کند. با استفاده از این اطلاعات میزان احتمال ابتلای شما یا یکی از اعضای خانواده‌تان به
                        بیماری ژنتیکی تعیین می‌گردد. بر اساس این اطلاعات، مشاور ژنتیک می‌تواند به شما کمک کند تا تصمیم
                        بگیرید که کدام آزمایش ژنتیک برای شما یا خویشاوندان شما مناسب است. یک مشاور ژنتیک می تواند به شما
                        در درک این موارد کمک کند: </p>
                    <ul class="list-check-try fw-medium m-b30">
                        <li>خطرات و مزایای انجام آزمایش ژنتیک در شما و سایر افراد خانواده</li>
                        <li>نتایج بالقوه آزمایش ژنتیک و تفسیر نتایج</li>
                        <li>استفاده از نتایج برای پیشگیری از وقوع بیماری و یا مدیریت درمان</li>
                        <li>جلوگیری از انتقال جهش ژنتیکی به فرزندان</li>
                    </ul>
                    <p class="small wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s"
                       style="text-align: justify;">در آزمایشگاه ژنتیک آرمیتاژن مشاوره ژنتیک حضوری و آنلاین در تمامی
                        حوزه‌ها همچون مشاوره ژنتیک پیش از ازدواج، پیش از بارداری، اختلالات جنینی و ناباروری، سلامت
                        ژنتیکی، سرطان‌ها، بیماری‌های قلبی-عروقی، ناهنجاری‌های ژنتیکی اطفال و غیره تحت نظر متخصص ژنتیک
                        صورت می‌پذیرد. </p>
                    <ul class="list-check-try fw-medium m-b30">
                        <li>در صورت داشتن نسخه آزمایش ژنتیکی، می توانید آن را برای کارشناسان ما از طریق فرم درخواست و یا
                            واتساپ ارسال کنید.
                        </li>
                    </ul>
                </div>

                <!-- <div class="clearfix m-b60 m-lg-b30">
						<div class="d-flex align-items-center m-b15 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
							<div class="info-widget style-12 m-r10 bg-light">
								<div class="avatar-group">
									<img class="avatar rounded-circle avatar-md border border-white border-2" src="{% static 'assets/images/avatar/small/avatar1.webp' %}" alt="">
									<img class="avatar rounded-circle avatar-md border border-white border-2" src="{% static 'assets/images/avatar/small/avatar2.webp' %}" alt="">
									<img class="avatar rounded-circle avatar-md border border-white border-2" src="{% static 'assets/images/avatar/small/avatar3.webp' %}" alt="">
									<img class="avatar rounded-circle avatar-md border border-white border-2" src="{% static 'assets/images/avatar/small/avatar4.webp' %}" alt="">
								</div>
								<div class="clearfix">
									<span> با بیش از 215 دکتر صحبت کنید </span>
								</div>
							</div>
							<a href="team.html" class="btn btn-square btn-xl btn-light btn-rounded">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7 17L17 7" stroke="var(--bs-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
									<path d="M7 7H17V17" stroke="var(--bs-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>
							</a>
						</div>
						<div class="widget-rating3 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
							<ul class="star-list">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
							</ul>
							<span class="rating">(4.8)</span>
							<span class="text">12 هزار امتیاز در گوگل</span>
						</div>
					</div> -->
                <div class="row">
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
									<span class="icon-cell">
										<i class="feather icon-map-pin"></i>
									</span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">آدرس</h4>
                                <p>تهران، بلوار کشاورز، خیابان نادری، بعد از خیابان ایتالیا، پلاک 2، طبقه اول، واحد
                                    105</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
									<span class="icon-cell">
										<i class="feather icon-phone"></i>
									</span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">تماس با ما</h4>
                                <p><a href="tel:02188985291" class="text-body" dir="ltr">+98 (21) 8898 5291-3</a><br>
                                    <a href="tel:+989108622597" class="text-body" dir="ltr">+98 910 862 2597</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
									<span class="icon-cell">
										<i class="feather icon-mail"></i>
									</span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title"> برای ما نامه ارسال کنید </h4>
                                <p>info@armitagen.ir</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.8s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
									<span class="icon-cell">
										<i class="feather icon-clock"></i>
									</span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">ساعات کاری</h4>
                                <p>شنبه - چهارشنبه: 8 صبح - 19 عصر پنجشنبه: 8:00 صبح -13:00 ظهر</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 m-b30" data-bottom-top="transform: translateY(50px)"
                 data-top-bottom="transform: translateY(-50px)">
                <div class="form-wrapper style-1">
                    <div class="form-body bg-primary background-blend-burn"
                         style="background-image: url('{% static 'assets/images/background/bg2.png' %}');">
                        <div class="title-head">
                            <h2 class="form-title m-b0">فرم درخواست<span><br>مشاوره ژنتیکی</span></h2>
                        </div>
                        <form action="{% static 'assets/script/contact_smtp.php' %}" class="dzForm" method="POST">
                            <input type="hidden" class="form-control" name="dzToDo" value="Appointment">
                            <input type="hidden" class="form-control" name="reCaptchaEnable" value="0">
                            <div class="dzFormMsg"></div>
                            <div class="row">
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <input name="dzName" type="text" class="form-control" id="inputYourName"
                                               placeholder="نام">
                                        <label for="inputYourName">نام و نام خانوادگی</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <label for="inputPrescriptionFile"
                                           style="color: rgba(255, 255, 255, 0.7); display: block; margin-bottom: 5px;">
                                        آپلود نسخه
                                    </label>

                                    <div class="input-light">
                                        <input
                                                name="prescription_file"
                                                type="file"
                                                class="form-control"
                                                id="inputPrescriptionFile"
                                                accept=".pdf,.jpg,.jpeg,.png"
                                                style="
                                                    /* این استایل‌ها را برای هماهنگی با ظاهر تیره قالب اضافه می‌کنیم */
                                                    background-color: transparent;
                                                    color: #fff;
                                                    border: 1px solid rgba(255, 255, 255, 0.3); /* خط دور کادر */
                                                "
                                        >
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <input name="dzPhoneNumber" type="text" class="form-control dz-number"
                                               id="inputPhoneNumber" placeholder="شماره تماس">
                                        <label for="inputPhoneNumber">شماره تلفن</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <select name="dzOther[Services]" class="bs-select" data-style="form-control"
                                                title="انتخاب خدمت">
                                            <option value="آنژیوپلاستی">آزمایشکاه سرطان</option>
                                            <option value="قلب شناسی">آزمایشکاه سلامت مادر و جنین</option>
                                            <option value="دندانپزشکی">ژنتیک مولکولی</option>
                                            <option value="چشم پزشکی">سایر خدمات</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <textarea name="dzMessage" class="form-control" id="inputMessage" rows="6"
                                                  placeholder="انتخاب خدمت"></textarea>
                                        <label for="inputMessage">پیام</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" name="submit" value="submit"
                                            class="btn btn-lg btn-icon btn-white hover-secondary btn-shadow">
                                        آنلاین نوبت مشاوره بگیرید <span class="right-icon"><i
                                            class="feather icon-arrow-left"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
