# .gitignore
.env
.venv

# IDE
.IDE
.vscode

# static
#static/*
static/assets/images/*
media/*

# cache files
armitagen/__pychache__
armitagen/*/__pychache__
armitagen/.DS_Store
home/.DS_Store
home/templates/.DS_Store
armitagen.zip
Clinicmaster Package/Theme.zip
new.zip
