# .gitignore
.env
.venv
.idea
__pycache__/
*.pyc

# IDE
.IDE
.vscode

# static
#static/*
static/assets/*
static/import_export/*
media/*
static_collected/

# cache files
armitagen/__pychache__
armitagen/*/__pychache__
armitagen/.DS_Store
home/.DS_Store
home/templates/.DS_Store
armitagen.zip
Clinicmaster Package/Theme.zip
new.zip
