{% load static %}

<script src="{% static 'assets/js/global.min-2.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min-2.js' %}"></script>
<script src="{% static 'assets/vendor/imagesloaded/imagesloaded-2.js' %}"></script>
<script src="{% static 'assets/vendor/apexchart/apexchart.js' %}"></script>
<script src="{% static 'assets/js/init-apexchart.js' %}"></script>
<script src="{% static 'assets/js/dz.carousel-2.js' %}"></script>
<script src="{% static 'assets/js/dz.ajax-2.js' %}"></script>
<script src="{% static 'assets/js/custom-2.js' %}"></script>
<script src="{% static 'assets/js/layout.js' %}"></script>