{% load render_partial %}
{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl" data-theme-color="skin-1">
<head>

    <!-- Title -->
    <title>{% block title %}آزمایشگاه ژنتیک پزشکی آرمیتاژن{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="index, follow">
    <meta name="format-detection" content="telephone=no">

    <meta name="keywords"
          content="healthcare HTML template, medical Bootstrap template, clinic website template, hospital HTML template, responsive medical template, healthcare web design, Bootstrap health template, ClinicMaster medical design, modern medical template, health website design">
    <meta name="description"
          content="کلینیک مستر یک الگوی بوت سترپ اچ تی ام ال مدرن و پاسخگو است که برای وب سایت های بهداشتی و پزشکی طراحی شده است.ایده آل برای کلینیک ها ، بیمارستان ها و متخصصان مراقبت های بهداشتی که به دنبال حضور حرفه ای آنلاین با طراحی زیبا و کاربر پسند هستند.">

    <meta property="og:title" content="آزمایشگاه ژنتیک پزشکی آرمیتاژن - ArmitaGen">
    <meta property="og:description"
          content="کلینیک مستر یک الگوی بوت سترپ اچ تی ام ال مدرن و پاسخگو است که برای وب سایت های بهداشتی و پزشکی طراحی شده است.ایده آل برای کلینیک ها ، بیمارستان ها و متخصصان مراقبت های بهداشتی که به دنبال حضور حرفه ای آنلاین با طراحی زیبا و کاربر پسند هستند.">
    <meta property="og:image" content="https://clinicmaster.dexignzone.com/xhtml/social-image.png">

    <!-- TWITTER META -->
    <meta name="twitter:title" content="آزمایشگاه ژنتیک پزشکی آرمیتاژن - ArmitaGen">
    <meta name="twitter:description"
          content="کلینیک مستر یک الگوی بوت سترپ اچ تی ام ال مدرن و پاسخگو است که برای وب سایت های بهداشتی و پزشکی طراحی شده است.ایده آل برای کلینیک ها ، بیمارستان ها و متخصصان مراقبت های بهداشتی که به دنبال حضور حرفه ای آنلاین با طراحی زیبا و کاربر پسند هستند.">
    <meta name="twitter:image" content="https://clinicmaster.dexignzone.com/xhtml/social-image.png">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Header style links -->
    {% include 'shared/header_references.html' %}

</head>


<body id="bg">

<div class="whatsapp-float-container">
		<a href="https://wa.me/989108622597?text=سلام،%20من%20به جهت%20دریافت%20مشاوره%20پیام میدهم." target="_blank" class="whatsapp-float-button">
			<i class="fab fa-whatsapp"></i>
		</a>
</div>

<div class="page-wraper">

    <div class="dz-preloader-1" id="dzPreloader">
        <div class="preloader-inner">
            <svg class="dz_svg" width="240" height="240" viewbox="0 0 240 240">
                <circle class="dz_ring dz_ring_1" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20"
                        stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
                <circle class="dz_ring dz_ring_2" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20"
                        stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
                <circle class="dz_ring dz_ring_3" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20"
                        stroke-dasharray="0 440" stroke-linecap="round"></circle>
                <circle class="dz_ring dz_ring_4" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20"
                        stroke-dasharray="0 440" stroke-linecap="round"></circle>
            </svg>
        </div>
    </div>

    <!-- Header -->
    {% render_partial 'home.views.partial_header' %}


    <div class="modal fade" id="armitagenAppointmentModal" tabindex="-1"
         aria-labelledby="armitagenAppointmentModalLabel" aria-hidden="true">
        {% include 'snippets/modal_appointment_form.html' %}
    </div>

    {% block content %}{% endblock %}

    <!-- Footer -->
    {% render_partial 'home.views.partial_footer' %}

    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>

</div>

<!-- Javascript -->
{% include 'shared/footer_references.html' %}


</body>
</html>
